Test primeng
<p-datepicker [(ngModel)]="date" />

<p-button label="Primary" />
<p-button label="Secondary" severity="secondary" />
<p-button label="Success" severity="success" />
<p-button label="Info" severity="info" />
<p-button label="Warning" severity="warn" />
<p-button label="Help" severity="help" />
<p-button label="Danger" severity="danger" />
<p-button label="Contrast" severity="contrast" />


<input type="text" pInputText placeholder="Overriden" />
<input type="text" pInputText placeholder="Overriden" class="p-8" />

Bootstrap
<button class="btn btn-secondary">secondary bootstrap</button>
